.breweries {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
  width: 100%;
}

.brewery {
  border: 1px solid black;
  word-break: break-word;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.brewery:hover {
  cursor: pointer;
  background-color: coral;
}

.breweryInfo {
  display: flex;
  flex-direction: column;
}

.breweryInfoLinks {
  display: flex;
  flex-direction: column;
}

/* 
Common Media Query Breakpoints
  
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens. 
*/

@media only screen and (max-width: 1024px) {
  .breweries {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (max-width: 768px) {
  .breweries {
    grid-template-columns: repeat(2, auto);
  }
}
